<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.jjxy.researchmanagementsystem.mapper.AwardMapper">

    <select id="page" resultType="edu.jjxy.researchmanagementsystem.entity.Award">
        SELECT
        a.id,
        a.project_id,
        a.award_name,
        a.award_level,
        a.award_org,
        a.award_date,
        a.remark,
        p.project_code AS projectCode,
        p.name         AS projectName,
        GROUP_CONCAT(DISTINCT CONCAT(rp.emp_no, '-', rp.name) SEPARATOR '，') AS awardPersons
        FROM research_award a
        LEFT JOIN research_project p ON p.id = a.project_id
        LEFT JOIN research_project_member pm ON pm.project_id = a.project_id
        LEFT JOIN research_person rp ON rp.id = pm.person_id
        <where>
            <if test="projectId != null">
                AND a.project_id = #{projectId}
            </if>
            <if test="awardName != null and awardName != ''">
                AND a.award_name LIKE CONCAT('%', #{awardName}, '%')
            </if>
        </where>
        GROUP BY a.id
        ORDER BY a.id ASC
    </select>



    <select id="selectById" resultType="edu.jjxy.researchmanagementsystem.entity.Award">
        SELECT id, project_id, award_name, award_level, award_org, award_date, remark
        FROM research_award WHERE id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO research_award(project_id, award_name, award_level, award_org, award_date, remark)
        VALUES (#{projectId}, #{awardName}, #{awardLevel}, #{awardOrg}, #{awardDate}, #{remark})
    </insert>

    <update id="update">
        UPDATE research_award
        SET project_id=#{projectId}, award_name=#{awardName}, award_level=#{awardLevel},
            award_org=#{awardOrg}, award_date=#{awardDate}, remark=#{remark}
        WHERE id=#{id}
    </update>

    <delete id="deleteById">
        DELETE FROM research_award WHERE id=#{id}
    </delete>

    <select id="listByPersonId" resultType="edu.jjxy.researchmanagementsystem.entity.Award">
        SELECT
            a.id,
            a.project_id,
            a.award_name,
            a.award_level,
            a.award_org,
            a.award_date,
            a.remark,
            p.project_code AS projectCode,
            p.name         AS projectName,
            GROUP_CONCAT(DISTINCT CONCAT(rp2.emp_no, '-', rp2.name) SEPARATOR '，') AS awardPersons
        FROM research_award a
                 LEFT JOIN research_project p ON p.id = a.project_id
                 LEFT JOIN research_project_member pm ON pm.project_id = a.project_id
                 LEFT JOIN research_person rp ON rp.id = pm.person_id
                 LEFT JOIN research_project_member pm2 ON pm2.project_id = a.project_id
                 LEFT JOIN research_person rp2 ON rp2.id = pm2.person_id
        WHERE rp.id = #{personId}
        GROUP BY a.id
        ORDER BY a.id ASC
    </select>



</mapper>
