<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.jjxy.researchmanagementsystem.mapper.BookMapper">

    <select id="page" resultType="edu.jjxy.researchmanagementsystem.entity.Book">
        SELECT
        b.id,
        b.person_id,
        b.name,
        b.publisher,
        b.publish_date,
        b.isbn,
        b.remark,
        rp.emp_no AS empNo,
        rp.name   AS personName
        FROM research_book b
        LEFT JOIN research_person rp ON rp.id = b.person_id
        <where>
            <if test="name != null and name != ''">
                AND b.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="personId != null">
                AND b.person_id = #{personId}
            </if>
        </where>
        ORDER BY b.id DESC
    </select>


    <select id="selectById" resultType="edu.jjxy.researchmanagementsystem.entity.Book">
        SELECT id, person_id, name, publisher, publish_date, isbn, remark
        FROM research_book WHERE id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO research_book(person_id, name, publisher, publish_date, isbn, remark)
        VALUES (#{personId}, #{name}, #{publisher}, #{publishDate}, #{isbn}, #{remark})
    </insert>

    <update id="update">
        UPDATE research_book
        SET person_id=#{personId}, name=#{name}, publisher=#{publisher},
            publish_date=#{publishDate}, isbn=#{isbn}, remark=#{remark}
        WHERE id=#{id}
    </update>

    <delete id="deleteById">
        DELETE FROM research_book WHERE id=#{id}
    </delete>

</mapper>
