<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.jjxy.researchmanagementsystem.mapper.PaperMapper">

    <select id="page" resultType="edu.jjxy.researchmanagementsystem.entity.Paper">
        SELECT
        p.id,
        p.person_id,
        p.title,
        p.journal,
        p.index_code,
        p.publish_date,
        p.doi,
        p.remark,
        rp.emp_no AS empNo,
        rp.name   AS personName
        FROM research_paper p
        LEFT JOIN research_person rp ON rp.id = p.person_id
        <where>
            <if test="title != null and title != ''">
                AND p.title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="personId != null">
                AND p.person_id = #{personId}
            </if>
            <if test="indexCode != null and indexCode != ''">
                AND p.index_code = #{indexCode}
            </if>
        </where>
        ORDER BY p.id DESC
    </select>


    <select id="count" resultType="long">
        SELECT COUNT(1)
        FROM research_paper p
        <where>
            <if test="title != null and title != ''">
                AND p.title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="personId != null">
                AND p.person_id = #{personId}
            </if>
            <if test="indexCode != null and indexCode != ''">
                AND p.index_code = #{indexCode}
            </if>
        </where>
    </select>

    <select id="selectById" resultType="edu.jjxy.researchmanagementsystem.entity.Paper">
        SELECT id, person_id, title, journal, index_code, publish_date, doi, remark
        FROM research_paper WHERE id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO research_paper(person_id, title, journal, index_code, publish_date, doi, remark)
        VALUES (#{personId}, #{title}, #{journal}, #{indexCode}, #{publishDate}, #{doi}, #{remark})
    </insert>

    <update id="update">
        UPDATE research_paper
        SET person_id=#{personId}, title=#{title}, journal=#{journal},
            index_code=#{indexCode}, publish_date=#{publishDate}, doi=#{doi}, remark=#{remark}
        WHERE id=#{id}
    </update>

    <delete id="deleteById">
        DELETE FROM research_paper WHERE id=#{id}
    </delete>

</mapper>
